[submodule "dep/soundplaneclient"]
	path = dep/soundplaneclient
	url = ssh://git@github.com/ngwese/soundplaneclient.git
[submodule "dep/norns"]
	path = dep/norns
	url = ssh://git@github.com/ngwese/norns.git
[submodule "dep/luwra"]
	path = dep/luwra
	url = https://github.com/vapourismo/luwra
